body {
  font-family: "Roboto", sans-serif;
  line-height: 1.45;
}

.Form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Form__title {
  text-align: center;
}

.Form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  border-width: 0 0 2px 0;
  font-size: 1em;
}

label {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 2px;
}

input:focus {
  border-bottom-color: blue;
}

input.invalid {
  border-bottom-color: red;
}

.hidden {
  opacity: 0;
}

.success {
  margin-top: 1em;
  background-color: #bf2;
  text-align: center;
  padding: 0.75em;
  border-radius: 4px;
  transition: opacity 1s;
}

.errors {
  color: #f20000;
  font-size: 0.9em;
}

.Form__button {
  border: none;
  background-color: blue;
  color: white;
  align-self: flex-end;
  padding: 0.75em 1.25em;
  border-radius: 8px;
  font-size: 0.9em;
}

.Subscribe {
  text-align: center;
}
