@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0 auto;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1.42;
  max-width: 100%;
}

.PaneLayout {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 2;
}

.content__Container {
  margin: 36px auto 0 48px;
  padding-bottom: 32px;
  width: 60%;
  max-width: 768px;
}

.content__Section {
  margin: 16px 0;
}

.content__Section__Item {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}

.content__Section__Item__main > div {
  margin-bottom: 4px;
}

.content__Section__Item__main {
  flex: 3;
}

.content__Section__Item__side {
  flex: 1;
}

.Divider {
  height: 2px;
  opacity: 0.2;
  background-color: #000;
  margin: 1em 0;
}

.content__Section__title {
  color: #0085ff;
  font-size: 1.1em;
  font-weight: 600;
  margin: 18px 0 18px 0;
}

.sidebar__Profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -0.25em 0 0.5em 0;
}

.sidebar__Profile > img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.sidebar__Profile__info {
  opacity: 0.7;
}

.sidebar__Title {
  font-size: 1.5em;
  margin-bottom: 0.125em;
}

.sidebar__Profile > figcaption {
  margin-left: 1em;
  padding-bottom: 0.5em;
}

.sidebar > footer {
  background-color: #2a7dca;
  padding: 24px 0px 16px 24px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.sidebar {
  background-color: #2ea3f8;
  color: white;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 33%;
}

.sidebar__Container {
  margin: 36px 16px 0 36px;
  max-width: 330px;
}

.sidebar__RecentBlog__Post {
  display: flex;
  flex-direction: row;
  margin: 1.25em 0;
}

.sidebar__Bio {
  margin: 1em 0 0.5em 0;
}

.sidebar__RecentBlog__Post > aside {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.sidebar__RecentBlog__Post > article {
  flex: 3;
}

.sidebar__RecentBlog .sidebar__Title {
  margin-top: 0.25em;
}

.sidebar__Icon {
  margin-left: 0.25em;
  font-size: 22px;
}

.sidebar__RecentBlog__Button {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 8px 16px;
  display: inline-block;
  transition: color 0.25s, background-color 0.5s;
}

.sidebar__RecentBlog__Button:hover {
  color: #2ea3f8;
  background-color: white;
}

.sidebar__RecentBlog__SeeMore {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar__Social {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.sidebar__Social > div {
  margin-right: 16px;
}

.content__Subtext {
  opacity: 0.6;
  max-width: 360px;
}

.Form__Field,
.Form > p {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.Form__Field > label,
.Form > p > label {
  margin-bottom: 4px;
  opacity: 0.8;
}

.Form__Field > input,
.Form > p > input {
  font-size: 0.8em;
  height: 24px;
  font-family: "Roboto", sans-serif;
  padding: 0.125em 0.5em;
}

.Form > p > input,
.Form > p > textarea {
  background-color: #f2f2f2;
}

.FormContainer {
  width: 320px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}

.Form > input[type="submit" i] {
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border-width: 0px;
  padding: 8px;
  background-color: #2ea3f8;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: scale 1s;
  margin-top: 8px;
  transition: transform 0.25s, box-shadow 0.25s;
  width: 100%;
}

.Form > input[type="submit" i]:hover {
  transform: scale(1.01, 1.06);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.CommentCount {
  display: flex;
  align-items: center;
}

.sidebar__RecentBlog {
  margin-bottom: 1em;
}
@media only screen and (max-width: 480px) {
  .content__Section__Item {
    display: flex;
    flex-direction: column-reverse;
    margin: 12px 0;
  }
  .content__Section__Item__main > div {
    margin-bottom: 0;

    margin-top: 4px;
  }
}

.content__Container > nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.content__Container > nav > a {
  display: block;
  color: #0085ff;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
}

.content__Section__title:hover {
  cursor: pointer;
}

.content__Section > .content__Section__title::after {
  content: "+";
}

.content__Section > .content__Section__Item {
  transform: scaleY(0);
  transition: transform 0.2s ease;
  transform-origin: top;
  max-height: 0;
}

.content__Section.active > .content__Section__Item {
  transform: scaleY(1);
  display: flex;
  max-height: 100%;
}

.content__Section.active > .content__Section__title::after {
  content: "–";
}

.Event_EventCard {
  max-width: 300px;
  background-color: white;
  margin-bottom: 24px;
  width: 100%;
}

.EventCard_Header > .Title {
  font-size: 1.2em;
}

.EventCard_Details > .Icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.EventCard_Header {
  border-radius: 4px 4px 0 0;
  padding: 8px 12px;
  color: white;
}

.Event_CreateEventForm {
  flex: 1;
}

.Event_CreateEventForm label,
.Event_CreateEventForm input {
  display: block;
}

.Details {
  padding: 12px 12px 4px 12px;
  background-color: #f2f2f2;
  border-radius: 0 0 4px 4px;
  color: #444;
}

.Details span {
  color: #444;
}

.Details > li {
  display: flex;
  margin-bottom: 8px;
}

.Details > li > i {
  width: 18px;
  text-align: center;
  margin-top: 2px;
  margin-right: 8px;
}

.Details > li > span {
  flex: 10;
}

#Event_CreateEventForm {
  flex: 3;
}

.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 4px;
}

.EventList {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .PaneLayout {
    flex-direction: column;
  }
  .sidebar > footer {
    background-color: #2a7dca;
    padding: 24px 0px 16px 0px;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  .sidebar > footer > div {
    margin-left: 22px;
  }
  .content__Container {
    margin: 36px 8px 0 20px;
    padding-bottom: 32px;
    width: auto;
  }
  .sidebar__Container {
    margin: 36px 16px 0 20px;
    max-width: 100%;
  }

  .EventList {
    align-items: center;
  }
}
