<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Hello</title>
</head>

<body>
    <h1>Hello, Apa kabar?</h1>

    {% if status_list %}
    {% for status in status_list %}
    <div>
        <p>{{status.date_created | date:"H.i, j F"}}</p>
        <p>{{status.message}}</p>
    </div>
    {% endfor %}

    {% else %}
    <p>Semua status akan ditampilkan di sini.</p>
    {% endif %}

    <form action={% url 'hello:index' %} method="post">
        <h2>Buat status baru</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Buat Status">
    </form>
</body>

</html>