{% extends "me/base.html" %}

{% block content %}
<div class="content__Section">
    <div class="content__Section__title">
        Tulisan Saya
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>PPW Sangat Menyenangkan</div>
            <div class="content__Subtext">Pengalamanku belajar PPW yang sangat menyenangkan.</div>
        </div>
        <div class="content__Section__Item__side">
            <div>9 Sep</div>
            <div class="CommentCount"> 1
                <i class="material-icons sidebar__Icon">
                    comment
                </i>
            </div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>PPW Sangat Menyenangkan</div>
            <div class="content__Subtext">Pengalamanku belajar PPW yang sangat menyenangkan.</div>
        </div>
        <div class="content__Section__Item__side">
            <div>9 Sep</div>
            <div class="CommentCount"> 1
                <i class="material-icons sidebar__Icon">
                    comment
                </i>
            </div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>PPW Sangat Menyenangkan</div>
            <div class="content__Subtext">Pengalamanku belajar PPW yang sangat menyenangkan.</div>
        </div>
        <div class="content__Section__Item__side">
            <div>9 Sep</div>
            <div class="CommentCount"> 1
                <i class="material-icons sidebar__Icon">
                    comment
                </i>
            </div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>PPW Sangat Menyenangkan</div>
            <div class="content__Subtext">Pengalamanku belajar PPW yang sangat menyenangkan.</div>
        </div>
        <div class="content__Section__Item__side">
            <div>9 Sep</div>
            <div class="CommentCount"> 1
                <i class="material-icons sidebar__Icon">
                    comment
                </i>
            </div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>PPW Sangat Menyenangkan</div>
            <div class="content__Subtext">Pengalamanku belajar PPW yang sangat menyenangkan.</div>
        </div>
        <div class="content__Section__Item__side">
            <div>9 Sep</div>
            <div class="CommentCount"> 1
                <i class="material-icons sidebar__Icon">
                    comment
                </i>
            </div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>PPW Sangat Menyenangkan</div>
            <div class="content__Subtext">Pengalamanku belajar PPW yang sangat menyenangkan.</div>
        </div>
        <div class="content__Section__Item__side">
            <div>9 Sep</div>
            <div class="CommentCount">
                1<i class="material-icons sidebar__Icon">comment</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}