{% extends "me/base.html" %}

{% block content %}
<div class="content__Section">
    <div class="content__Section__title">
        Pendidikan
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Ilmu Komputer</div>
            <div>Universitas Indonesia – Depok, Jawa Barat</div>
        </div>
        <div class="content__Section__Item__side">
            Ags 2017 – Jun 2021
        </div>
    </div>
</div>
<div class="Divider"></div>

<div class="content__Section">
    <div class="content__Section__title">
        Pengalaman
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Pemagang Rekayasa Perangkat Lunak</div>
            <div>Tokopedia.com – Jakarta Selatan, DKI Jakarta</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Jun 2018 – Sep 2018</div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Pemagang Rekayasa Bagian Belakang</div>
            <div>Qlapa.com – Jakarta Barat, DKI Jakarta</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Jan 2018 – Feb 2018</div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Pemagang Rekayasa Perangkat Lunak</div>
            <div>PRASIMAX – Depok, Jawa Barat</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Jul 2017 – Des 2017</div>
        </div>
    </div>
</div>
<div class="Divider"></div>


<div class="content__Section">
    <div class="content__Section__title">
        Kegiatan
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Staf</div>
            <div>Divisi Pengembangan TI, Compfest X</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Feb 2018 – Sekarang</div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Anggota Junior</div>
            <div>Keamanan Jaringan, RISTEK Fasilkom</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Feb 2018 – Sekarang</div>
        </div>
    </div>
</div>
<div class="Divider"></div>

<div class="content__Section">
    <div class="content__Section__title">
        Prestasi
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Finalis CTF Slashroot 3.0</div>
            <div>Lomba Keamanan Jaringan oleh STIKOM Bali</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Ags 2018</div>
        </div>
    </div>
    <div class="content__Section__Item">
        <div class="content__Section__Item__main">
            <div>Finalis CTF Arkavidia 4</div>
            <div>Lomba Keamanan Jaringan oleh ITB</div>
        </div>
        <div class="content__Section__Item__side">
            <div>Feb 2018</div>
        </div>
    </div>
</div>
{% endblock content %}