<nav>
    <a href={% url 'me:index' %}>Profil</a>
    <a href={% url 'me:posts' %}>Blog</a>
    <div>
        <span>Theme: </span>
        <select id="themeSelector">
            <option value="blue">Blue
            <option value="green">Green
        </select>
    </div>
</nav>
<div class="Divider"></div>