{% load static %}

<div class="sidebar">
    <div class="sidebar__Container">
        <div class="sidebar__Profile">
            <img src="{% static 'foto.jpeg' %}" />
            <figcaption>
                <div class="sidebar__Title">
                    Raihan Ramadistra
                </div>
                <div class="sidebar__Profile__info">
                    <div>Mahasiswa S1</div>
                    <div>Ilmu Komputer</div>
                </div>
            </figcaption>
        </div>
        <div class="sidebar__Bio">
            Saya adalah mahasiswa S1 Ilmu Komputer semester 3 di Universitas Indonesia. Saya memiliki minat di
            bidang rekayasa perangkat lunak, dengan pengalaman rekayasa bagian depan dan bagian belakang. Saya juga
            suka mengikuti lomba keamanan jaringan bersama teman-teman saya.
        </div>
        <div class="Divider"></div>
        <div class="sidebar__RecentBlog">
            <div class="sidebar__Title">
                Tulisan Terbaru
            </div>
            <div class="sidebar__RecentBlog__Post">
                <article>
                    <div>PPW sangat menyenangkan</div>
                    <div>4 hari yang lalu</div>
                </article>
                <aside>
                    1 <i class="material-icons sidebar__Icon">
                        comment
                    </i>
                </aside>
            </div>
            <div class="sidebar__RecentBlog__Post">
                <article>
                    <div>PPW sangat menyenangkan</div>
                    <div>4 hari yang lalu</div>
                </article>
                <aside>
                    10 <i class="material-icons sidebar__Icon">
                        comment
                    </i>
                </aside>
            </div>
            <div class="sidebar__RecentBlog__SeeMore">
                <a class="sidebar__RecentBlog__Button" href={% url 'me:posts' %}>Lihat Selengkapnya ></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="sidebar__Social">
            <div>
                <a href="mailto:ramadistra@gmail.com">
                    <svg width="32" height="24" viewBox="0 0 37 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.987 0H3.66522C1.64019 0 0.0183261 1.56625 0.0183261 3.5L0 24.5C0 26.432 1.64019 28 3.66522 28H32.987C35.012 28 36.6522 26.432 36.6522 24.5V3.5C36.6522 1.56625 35.012 0 32.987 0Z"
                            fill="white" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.9868 24.5H29.3216V9.1875L18.3259 15.75L7.33026 9.1875V24.5H3.66504V3.5H5.86417L18.3259 10.9375L30.7877 3.5H32.9868V24.5Z"
                            fill="#298ED8" />
                    </svg>
                </a>
            </div>
            <div>
                <a target="_blank" href="https://twitter.com/ramadistra">
                    <svg width="32" height="27" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3216 29.1544C24.9072 29.1544 32.3366 17.939 32.3366 8.21345C32.3366 7.89489 32.3301 7.57778 32.3157 7.2621C33.7579 6.22321 35.0113 4.92677 36 3.45094C34.6766 4.03711 33.2524 4.4317 31.7585 4.60963C33.2834 3.69846 34.4541 2.25709 35.0064 0.538813C33.5793 1.38183 31.999 1.99454 30.3163 2.32534C28.9685 0.894771 27.0497 0 24.925 0C20.8461 0 17.5385 3.29607 17.5385 7.35894C17.5385 7.93649 17.6033 8.49827 17.7301 9.03713C11.5914 8.72933 6.14813 5.80065 2.50517 1.34739C1.87086 2.43505 1.5051 3.69849 1.5051 5.04661C1.5051 7.60006 2.80905 9.85426 4.79193 11.173C3.58014 11.1357 2.44181 10.8042 1.44687 10.2525C1.44578 10.2834 1.44578 10.3135 1.44578 10.3465C1.44578 13.9109 3.99172 16.8868 7.37133 17.5612C6.75068 17.7298 6.09769 17.8202 5.42373 17.8202C4.94853 17.8202 4.48556 17.7736 4.03557 17.6875C4.97588 20.6118 7.70256 22.7399 10.9353 22.7993C8.40733 24.7738 5.22283 25.9497 1.76181 25.9497C1.16637 25.9497 0.57813 25.916 0 25.8479C3.26883 27.9357 7.15025 29.1539 11.322 29.1539"
                            fill="white" />
                    </svg>
                </a>
            </div>
            <div>
                <a target="_blank" href="https://linkedin.com/in/ramadistra">
                    <img width="30" height="30" src={% static "linkedin.png" %}>
                </a>
            </div>
            <div>
                <a target="_blank" href="https://github.com/ramadistra">
                    <svg width="32" height="30" viewBox="0 0 38 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4565 0C8.26579 0 0 8.26079 0 18.4453C0 26.593 5.32181 33.4958 12.5685 35.9854C13.4744 36.0985 13.8141 35.5327 13.8141 35.0801C13.8141 34.6274 13.8141 33.4958 13.8141 31.9115C8.71872 33.0432 7.58641 29.422 7.58641 29.422C6.7938 27.2719 5.54827 26.7061 5.54827 26.7061C3.84982 25.5745 5.6615 25.5745 5.6615 25.5745C7.47319 25.6877 8.49226 27.4982 8.49226 27.4982C10.1907 30.3273 12.795 29.5352 13.8141 29.0825C13.9273 27.8377 14.4934 27.0456 14.9464 26.593C10.8701 26.1403 6.56734 24.556 6.56734 17.4269C6.56734 15.39 7.24672 13.8057 8.49226 12.4478C8.37903 12.1083 7.69965 10.1845 8.71872 7.69498C8.71872 7.69498 10.3039 7.24234 13.8141 9.61873C15.2861 9.16608 16.8713 9.05292 18.4565 9.05292C20.0417 9.05292 21.6269 9.27924 23.0989 9.61873C26.6091 7.24234 28.1943 7.69498 28.1943 7.69498C29.2134 10.1845 28.534 12.1083 28.4207 12.5609C29.5531 13.8057 30.3457 15.5031 30.3457 17.54C30.3457 24.6692 26.0429 26.1403 21.9666 26.593C22.646 27.1588 23.2122 28.2904 23.2122 29.9878C23.2122 32.4774 23.2122 34.4011 23.2122 35.0801C23.2122 35.5327 23.5519 36.0985 24.4577 35.9854C31.8177 33.4958 37.0262 26.593 37.0262 18.4453C36.913 8.26079 28.6472 0 18.4565 0Z"
                            fill="white" />
                    </svg>
                </a>
            </div>
        </div>
        <div>Raihan Ramadistra – 2018</div>
    </footer>
</div>