{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/accounts.css'%}" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <title>Subscribe</title>
  </head>
  <body>
    <form class="Form" action="/accounts/create" method="POST">
      <h1 class="Form__title">Subscribe Now</h1>
      {% csrf_token %} {% for field in form %}
      <div class="Form__field">
        {{ field.label_tag }} {{ field }}
        <div class="errors" id="errors_{{field.name}}"></div>
      </div>
      {% endfor %} <button class="Form__button">Sign Up</button>
      <div class="success hidden">Account successfully created.</div>
    </form>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/accounts.min.js' %}"></script>
</html>
