body {
  font-family: "Roboto", sans-serif;
}

.fav-button {
  width: 70px;
  height: 50px;
  background: url(/static/images/twitter_fave.png) no-repeat;
  background-position: 0 0;
  border-width: 0;
  outline: none;
  padding: 0;
}

.fav-button.fav-active {
  background-position: -3519px 0;
  animation: magic 1s steps(55) 1;
}

.fav-button:hover {
  cursor: pointer;
}

@keyframes magic {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -3519px 0;
  }
}

.books-head {
  display: flex;
  align-items: flex-end;
  margin: 1em 0;
}

.books-head > .title {
  flex: 2;
  font-size: 2em;
}

.books-head > .subtitle {
  flex: 1;
}
