{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/books.css'%}" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <title>Books</title>
  </head>
  <body>
    <div class="books-head">
      <div class="title">Welcome <span id="username">Anonymous</span></div>
      <div>
        <input value="quilting" id="searchBox" /><button id="searchButton">
          Search
        </button>
      </div>
      <div class="subtitle">Favorites: <span id="favoriteCount">0</span></div>
    </div>
    <div></div>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Authors</th>
          <th>Publisher</th>
          <th>Favorite</th>
        </tr>
      </thead>
      <tbody class="table-content">
        <tr>
          <td>Loading...</td>
        </tr>
      </tbody>
    </table>
  </body>
  <script src="{% static 'js/books.js' %}"></script>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <a href="#" onclick="signOut();">Sign out</a>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="839022262183-rnne81g4p8j2ghpn7hsq13ep9p5f1bdd.apps.googleusercontent.com">
</html>
